.restaurantInfo {
    z-index: 999;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.hederInfo {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
}
#changelogo{
    background-color: transparent; 
    border: none;
    font-style: italic;
    color: blue; 
}
#changelogo:hover{
    background-color: transparent; 
    border: none;
    font-style: italic;
    color: black; 
}
img{ border-radius: 10px;}

